<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Signup</title>
</head>
<body>
	<form method="POST" action="/signup">
    <!-- Heading -->
        <h1>
        Sign up for our website!
        </h1>
    <!-- Subheading -->
        <h3>
        Please fill up your information below to sign in.
        </h3>
    <!-- Email -->
        	<div>
            <label>Email:</label>
            <div>
                <input type="email"  name="email" id="emailStr" required>
            </div>
        </div>
    <!-- password -->
			<div>
			<label>Password:</label>
			<div>
				<input type="password"  name="password" id="password" required>
			</div>
		</div>
    <!-- First Name -->
			<div>
			<label>First Name:</label>
			<div>
				<input type="First Name"  name="First_Name" id="First Name" required>
			</div>
		</div>
    <!-- Last Name -->
			<div>
			<label>Last Name:</label>
			<div>
				<input type="Last Name"  name="Last_Name" id="Last Name" required>
			</div>
		</div>
    	<br>
    	<button type="submit" class="btn">signup</button>
</body>
</html>